# archai
torch
torchvision
fvcore
pytest
# pytorch-msssim==0.2.1
pandas==1.3.5
tensorwatch==0.9.1
scikit-learn
tqdm
ConfigSpace
mmengine
einops
timm
# nasbench
networkx==2.6.3
xgboost
nasbench301
tqdm
nas-bench-201
